# Add plurals

In [3]:
# load terms from file with pandas

import pandas as pd
import numpy as np
import nltk
import inflect

# load terms from file
path_to_terms = '../words/replacements.csv'
df_sg = pd.read_csv(path_to_terms, sep=',')
df_sg.head()

          word      variant  frequency category affix_type     replacement
0    spokesman    spokesman    18072.0      man     suffix    spokesperson
1   girlfriend   girlfriend     8436.0     girl     prefix         partner
2    boyfriend    boyfriend     6069.0      boy     prefix         partner
3  spokeswoman  spokeswoman     5731.0    woman     suffix    spokesperson
4  congressman  congressman     1702.0      man     suffix  congressperson

In [4]:
df_sg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 335 entries, 0 to 334
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   word         335 non-null    object
 1   variant      335 non-null    object
 2   frequency    300 non-null    float64
 3   category     335 non-null    object
 4   affix_type   335 non-null    object
 5   replacement  335 non-null    object
dtypes: float64(1), object(5)
memory usage: 15.8+ KB

In [5]:
df_sg.affix_type.value_counts()

affix_type
suffix    282
prefix     53
Name: count, dtype: int64

In [6]:
df_sg['number'] = 'SG'
df_sg.head()

,word,variant,frequency,category,affix_type,replacement,number
0,spokesman,spokesman,18072.0,man,suffix,spokesperson,SG
1,girlfriend,girlfriend,8436.0,girl,prefix,partner,SG
2,boyfriend,boyfriend,6069.0,boy,prefix,partner,SG
3,spokeswoman,spokeswoman,5731.0,woman,suffix,spokesperson,SG
4,congressman,congressman,1702.0,man,suffix,congressperson,SG

In [7]:
# get all words that end in -man
man_words = df_sg[(df_sg['category'] == 'man') & (df_sg['affix_type'] == 'suffix')]['word']
woman_words = df_sg[(df_sg['category'] == 'woman') & (df_sg['affix_type'] == 'suffix')]['word']

In [8]:
# replace -man with -woman
man_words_cut = [word[:-3]+'woman' for word in man_words]

In [9]:
# words that have a -woman ending but not a -man ending
for w in woman_words:
    if w not in man_words_cut:
        print(w)

charwoman
man-woman
anti-woman

In [55]:
excluded = ['manass']
for index, row in df_sg.iterrows():
    if row['word'] != row['variant'] and row['variant'] not in excluded:
        print(row['word'], row['variant'])
        new_row = {'word': row['variant'], 
               'variant': row['variant'], 
               'frequency': np.nan,
               'category': row['category'], 
               'affix_type': row['affix_type'], 
               'replacement': row['replacement'],
               'number': row['number'],
               'source': row['source']}
        df_sg.loc[len(df_sg)] = new_row

anti-woman antiwoman
cabin-boy cabin boy
con-boy conboy
mad-man mad man
man-cave man cave
man-cession mancession
man-friend manfriend
man-hater man hater
man-hating man hating
man-hug man hug
man-hunt man hunt
man-kind mankind
man-magnet man magnet
man-marking man marking
man-ny manny
man-pack manpack
man-power man power
man-servant man servant
man-stealing manstealing
man-stopper manstopper
man-up man up
man-woman manwoman
pot-boy potboy
spy-master spy master

In [10]:
df_sg.tail()

,word,variant,frequency,category,affix_type,replacement,number
330,statesmanship,statesmanship,NaN,manship,suffix,public management skill,SG
331,stockmanship,stockmanship,NaN,manship,suffix,livestock raising skill,SG
332,swordsmanship,swordsmanship,NaN,manship,suffix,fencing skill,SG
333,upmanship,upmanship,NaN,manship,suffix,competitive behavior,SG
334,workmanship,workmanship,NaN,manship,suffix,workpersonship,SG

In [11]:
m = inflect.engine()
# input word to be pluralized 
example = 'man-bun'
# Pass the word to be pluralized as an argument to the plural() 
# function to make the word plural.
print(f"The plural form of {example} is: ", m.plural(example))

The plural form of man-bun is:  man-buns

In [13]:
# add plurals
plural_rows = []
jjs = ['boyish', 'girlish', 'man-made', 'manmade']

for index, row in df_sg.iterrows():
    replacement = row['replacement'].split(', ')
    word = row['word']
    pos = nltk.pos_tag([word])[0][1]
    if word in jjs:
        pass
    elif pos == 'NN':
        word_pl = m.plural(word)
        replacement_pl = ', '.join([m.plural(r) for r in replacement])
    elif pos == 'RB': # adverbs such as 'womanly'
        pass
    new_row = {'word': word_pl, 
               'variant': word_pl,
               'frequency': np.nan,
               'category': row['category'],
                'affix_type': row['affix_type'], 
               'replacement': replacement_pl, 
               'number': 'PL'}
    plural_rows.append(new_row)

df_plural = pd.DataFrame(plural_rows)

In [14]:
df_plural

,word,variant,frequency,category,affix_type,replacement,number
0,spokesmen,spokesmen,NaN,man,suffix,spokespeople,PL
1,girlfriends,girlfriends,NaN,girl,prefix,partners,PL
2,boyfriends,boyfriends,NaN,boy,prefix,partners,PL
3,spokeswomen,spokeswomen,NaN,woman,suffix,spokespeople,PL
4,congressmen,congressmen,NaN,man,suffix,congresspeople,PL
...,...,...,...,...,...,...,...
330,statesmanships,statesmanships,NaN,manship,suffix,public management skills,PL
331,stockmanships,stockmanships,NaN,manship,suffix,livestock raising skills,PL
332,swordsmanships,swordsmanships,NaN,manship,suffix,fencing skills,PL
333,upmanships,upmanships,NaN,manship,suffix,competitive behaviors,PL
334,workmanships,workmanships,NaN,manship,suffix,workpersonships,PL

In [15]:
# concatenate plural to original df
df = pd.concat([df_sg, df_plural])
df.sort_values(by=['category', 'word'], inplace=True)

In [16]:
df.head()

         word   variant  frequency category affix_type  replacement number
156   ballboy   ballboy        5.0      boy     suffix  ball person     SG
156  ballboys  ballboys        NaN      boy     suffix  ball people     PL
157    batboy    batboy        5.0      boy     suffix   bat person     SG
157   batboys   batboys        NaN      boy     suffix   bat people     PL
193   bellboy   bellboy        3.0      boy     suffix      bellhop     SG

In [17]:
print(len(df))
df.drop_duplicates(inplace=True, subset=['word', 'variant'])
print(len(df))

670
659

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 659 entries, 156 to 227
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   word         659 non-null    object
 1   variant      659 non-null    object
 2   frequency    299 non-null    float64
 3   category     659 non-null    object
 4   affix_type   659 non-null    object
 5   replacement  659 non-null    object
 6   number       659 non-null    object
dtypes: float64(1), object(6)
memory usage: 41.2+ KB

In [19]:
df.head(60)

,word,variant,frequency,category,affix_type,replacement,number
156,ballboy,ballboy,5.0,boy,suffix,ball person,SG
156,ballboys,ballboys,NaN,boy,suffix,ball people,PL
157,batboy,batboy,5.0,boy,suffix,bat person,SG
157,batboys,batboys,NaN,boy,suffix,bat people,PL
193,bellboy,bellboy,3.0,boy,suffix,bellhop,SG
193,bellboys,bellboys,NaN,boy,suffix,bellhops,PL
98,boyband,boyband,13.0,boy,prefix,band,SG
98,boybands,boybands,NaN,boy,prefix,bands,PL
2,boyfriend,boyfriend,6069.0,boy,prefix,partner,SG
2,boyfriends,boyfriends,NaN,boy,prefix,partners,PL
60,boyish,boyish,32.0,boy,prefix,childish,SG
298,boyishly,boyishly,1.0,boy,prefix,childishly,SG
174,boyism,boyism,4.0,boy,prefix,childism,SG
174,boyisms,boyisms,NaN,boy,prefix,childisms,PL
118,boyscout,boyscout,9.0,boy,prefix,scout,SG
118,boyscouts,boyscouts,NaN,boy,prefix,scouts,PL
299,boytoy,boytoy,1.0,boy,prefix,toy,SG
299,boytoys,boytoys,NaN,boy,prefix,toys,PL
55,busboy,busboy,37.0,boy,suffix,restaurant attendant,SG
55,busboys,busboys,NaN,boy,suffix,restaurant attendants,PL
277,callboy,callboy,1.0,boy,suffix,sex worker,SG
277,callboys,callboys,NaN,boy,suffix,sex workers,PL
276,copyboy,copyboy,1.0,boy,suffix,junior newspaper worker,SG
276,copyboys,copyboys,NaN,boy,suffix,junior newspaper workers,PL
7,cowboy,cowboy,523.0,boy,suffix,cow herder,SG
7,cowboys,cowboys,NaN,boy,suffix,cow herders,PL
144,doughboy,doughboy,6.0,boy,suffix,foot soldier,SG
144,doughboys,doughboys,NaN,boy,suffix,foot soldiers,PL
18,fanboy,fanboy,159.0,boy,suffix,fan,SG
18,fanboys,fanboys,NaN,boy,suffix,fans,PL
172,farmboy,farmboy,4.0,boy,suffix,farm worker,SG
172,farmboys,farmboys,NaN,boy,suffix,farm workers,PL
274,femboy,femboy,1.0,boy,suffix,effeminate person,SG
274,femboys,femboys,NaN,boy,suffix,effeminate people,PL
271,fisherboy,fisherboy,1.0,boy,suffix,young fisher,SG
271,fisherboys,fisherboys,NaN,boy,suffix,young fishers,PL
217,fratboy,fratboy,2.0,boy,suffix,fraternity member,SG
217,fratboys,fratboys,NaN,boy,suffix,fraternity members,PL
60,freemen,freemen,NaN,boy,prefix,freepeople,PL
298,girlpowers,girlpowers,NaN,boy,prefix,powers,PL
273,headboy,headboy,1.0,boy,suffix,student leader,SG
273,headboys,headboys,NaN,boy,suffix,student leaders,PL
67,homeboy,homeboy,26.0,boy,suffix,fellow member,SG
67,homeboys,homeboys,NaN,boy,suffix,fellow members,PL
158,houseboy,houseboy,5.0,boy,suffix,domestic worker,SG
158,houseboys,houseboys,NaN,boy,suffix,domestic workers,PL
171,ladyboy,ladyboy,4.0,boy,suffix,genderqueer person,SG
171,ladyboys,ladyboys,NaN,boy,suffix,genderqueer people,PL
272,nancyboy,nancyboy,1.0,boy,suffix,nancy,SG
272,nancyboys,nancyboys,NaN,boy,suffix,nancies,PL
192,newsboy,newsboy,3.0,boy,suffix,newspaper delivery person,SG
192,newsboys,newsboys,NaN,boy,suffix,newspaper delivery people,PL
63,paperboy,paperboy,28.0,boy,suffix,newspaper delivery person,SG
63,paperboys,paperboys,NaN,boy,suffix,newspaper delivery people,PL
17,playboy,playboy,163.0,boy,suffix,player,SG
17,playboys,playboys,NaN,boy,suffix,players,PL
61,plowboy,plowboy,31.0,boy,suffix,plower,SG
61,plowboys,plowboys,NaN,boy,suffix,plowers,PL
45,tomboy,tomboy,55.0,boy,suffix,boisterous child,SG
45,tomboys,tomboys,NaN,boy,suffix,boisterous children,PL

In [22]:
save_path = '../words/replacements+plural.csv'
df.to_csv(save_path, index=False)

In [21]:
df_sg[df_sg['word'] == 'girlish'.lower()]['replacement'].values[0]

'feminine'

In [23]:
final_path = '../words/replacements+plural-final.csv'

final_df = pd.read_csv(final_path)
print(final_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 692 entries, 0 to 691
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   word         692 non-null    object
 1   replacement  692 non-null    object
 2   category     692 non-null    object
 3   affix_type   692 non-null    object
 4   number       692 non-null    object
dtypes: object(5)
memory usage: 27.2+ KB
None